
html {
  font-size: 62.5%;
}

body {
  font: 1.6rem "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 20px 0 20px 0;
  color: #fff;
}

main {
  display: flex;
  .search {
    flex-basis: 20%;
    padding: 15px;
    background-color: #fff;
  }
  #map {
    flex-basis: 80%;
    height: 90vh;
  }
}

a {
  text-decoration: none;
}

input {
  width: 70%;
  height: 20px;
  margin-bottom:15px;
  //background: url(../images/search-icon.svg) no-repeat scroll 7px 7px;
}

ul {
  list-style-type: none;
  li {
    padding: 10px 0 10px 0;
    cursor: pointer;
  }
}
